# deps
node_modules/

# next
.next/
next-env.d.ts

# env & secrets — NE JAMAIS committer
.env
.env.local
.env*.local

# os
.DS_Store

# supabase
supabase/.temp/

# typescript incremental
*.tsbuildinfo
